<!-- Bluetooth Devices module for MajorDoMo -->
<!-- Author: Sergey Avdeev <avdeevsv91@gmail.com> -->
<!-- URL: https://github.com/kasitoru/majordomo-bluetoothdevices -->

[#if VIEW_MODE=""#]
	<div>
		<a class="btn btn-default" href="?view_mode=add_bluetoothdevices"><i class="glyphicon glyphicon-plus"></i> Добавить</a>
		<a class="btn btn-default" href="?view_mode=settings_bluetoothdevices"><i class="glyphicon glyphicon-wrench"></i> Настройки</a>
		[#if CYCLERUN="1"#]
			<span class="label label-success" style="margin-left: 5px;" title="Статус цикла">Цикл запущен</span>
		[#else#]
			<span class="label label-danger" style="margin-left: 5px;" title="Статус цикла">Цикл остановлен</span>
		[#endif#]
	</div>
	<br>
	[#if IS_WINDOWS_OS="1"#]
		[#if BV_UNSUPPORTED_VERSION="1"#]
			<div class="alert alert-warning"><strong>Внимание!</strong> Для полноценной работы модуля необходим BluetoothView версии не ниже 1.41. Скачать вы его можете с <a href="http://www.nirsoft.net/utils/bluetoothview.zip" target="_blank">официального сайта</a>. Каталог для установки: "<i>[#SERVER_ROOT#]/apps/bluetoothview/</i>".</div>
		[#endif#]
	[#endif#]
	[#if DEVICES#]
	<table align="center" class="table table-striped">
		<tr class="table_header">
			<th>Объект</th>
			<th>&nbsp;</th>
			<th>Описание</th>
			<th>Адрес устройства</th>
			<th>Последняя активность</th>
			<th>Пользователь</th>
			<th>&nbsp;</th>
		</tr>
		[#begin DEVICES#]
		<tr>
			<td style="vertical-align:middle"><a href="/panel/class/[#CLASS_ID#]/object/[#ID#].html">[#OBJECT#]</a></td>
			<td style="vertical-align:middle">
			[#if ONLINE="1"#]
				<span class="label label-success" title="Online">Online</span>
			[#else#]
				<span class="label label-warning" title="Offline">Offline</span>
			[#endif#]
			</td> 
			<td style="vertical-align:middle">[#DESCRIPTION#]</td>
			<td style="vertical-align:middle">[#ADDRESS#]</td>
			<td style="vertical-align:middle">[#TIMESTAMP#]</td>
			<td style="vertical-align:middle">[#USER#]</td>
			<td style="vertical-align:middle">
				<a href="?view_mode=edit_bluetoothdevices&id=[#ID#]" class="btn btn-default" title="Изменить"><i class="glyphicon glyphicon-pencil"></i></a>
				<a href="?view_mode=delete_bluetoothdevices&id=[#ID#]" onClick="return confirm('Вы действительно хотите удалить выбранное Bluetooth устройство?')" class="btn btn-default" title="Удалить"><i class="glyphicon glyphicon-remove"></i></a> 
			</td>
		</tr>
		[#end DEVICES#]
	</table>
	[#else DEVICES#]
		<p>Список устройств пуст</p>
	[#endif DEVICES#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="add_bluetoothdevices"#]
	[#if ERROR_TEXT#]<div class="alert alert-error">[#ERROR_TEXT#]</div>[#endif#]
	[#if IS_SCAN_AVAILABLE="1"#]
		<script type="text/javascript">
			// Scan bluetooth devices
			function bluetooth_rescan() {
				if($('#bluetooth_searching').is(':hidden')) {
					$('.bt_scan_btn').css('color', '#ccc');
					$('table.devices_list').find('tr').not('.table_header').remove();
					$('#bluetooth_searching').show();
					$.ajax({
						url: '/apps/bluetoothdevices.html?ajax=1&command=scan',
						dataType: 'json'
					}).done(function(json) {
						if(json.success) {
							json.data.forEach(function(item) {
								$('table.devices_list tr:last').after('<tr><td class="bt_address" style="vertical-align: middle; padding-left: 15px;">'+item.address+'</td><td class="bt_name" style="vertical-align: middle;">'+item.name+'</td><td style="vertical-align: middle; padding-right: 15px; text-align: right;"><a href="#" class="btn btn-default btn-sm" title="Выбрать устройство" onclick="return bluetooth_select(this);"><i class="glyphicon glyphicon-ok"></i></a></td></tr>');
							});
						} else {
							console.warn(json.message);
						}
					}).fail(function(jqXHR) {
						console.error('Error '+jqXHR.status+': '+jqXHR.statusText);
					}).always(function() {
						$('#bluetooth_searching').hide();
						$('.bt_scan_btn').css('color', '');
					});
				}
			}
			
			// Select bluetooth device
			function bluetooth_select(obj) {
				var tr = $(obj).closest('tr');
				var address = $(tr).find('td.bt_address').text();
				var name = $(tr).find('td.bt_name').text();
				$('input[name=address]').val(address);
				$('input[name=description]').val(name);
			}
			
			// Page has fully loaded
			$(document).ready(function() {
				bluetooth_rescan();
			});
		</script>
		<table align="center" class="table table-striped devices_list">
			<tr class="table_header">
				<th style="vertical-align: middle; padding-left: 15px;">Адрес устройства</th>
				<th style="vertical-align: middle;">Имя устройства</th>
				<th style="vertical-align: middle; padding-right: 15px; text-align: right;"><a href="#" class="btn btn-default btn-sm bt_scan_btn" title="Обновить список" onclick="return bluetooth_rescan();"><i class="glyphicon glyphicon-refresh"></i></a></th>
			</tr>
		</table>
		<div id="bluetooth_searching" style="text-align: center; display: none;">Поиск Bluetooth устройств...</div>
		<hr>
	[#endif#]
	<form action="?" method="post" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label class="col-lg-3 control-label"[#if ERROR_TEXT#] style="color:red;font-weight:bold"[#endif#]>Адрес устройства: (*)</label>
				<div class="col-lg-8"><input type="text" class="form-control" name="address" value="[#ADDRESS#]" id="address"></div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Описание:</label>
				<div class="col-lg-8"><input type="text" class="form-control" name="description" value="[#DESCRIPTION#]" id="description"></div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label"><#LANG_USER#>:</label>
				<div class="col-lg-8">
					<select name="user" class="form-control">
						<option value="0">n/a
						[#begin USERS#]
						<option value="[#ID#]"[#if ID="<#USER#>"#] selected[#endif SELECTED#]>[#NAME#]
						[#end USERS#]
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">&nbsp;</label>
				<div class="col-lg-3">
					<button type="submit" name="submit" value="Submit" class="btn btn-primary"><#LANG_ADD#></button>
					<a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
					<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
					<input type="hidden" name="edit_mode" value="add">
				</div>
			</div>
		</fieldset>
	</form>
[#endif VIEW_MODE#]

[#if VIEW_MODE="edit_bluetoothdevices"#]
	[#if ERROR_TEXT#]<div class="alert alert-error">[#ERROR_TEXT#]</div>[#endif#]
	<form action="?" method="post" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label class="col-lg-3 control-label"[#if ERROR_TEXT#] style="color:red;font-weight:bold"[#endif#]>Адрес устройства: (*)</label>
				<div class="col-lg-8"><input type="text" class="form-control" name="address" value="[#ADDRESS#]" id="address"></div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Описание:</label>
				<div class="col-lg-8"><input type="text" class="form-control" name="description" value="[#DESCRIPTION#]" id="description"></div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label"><#LANG_USER#>:</label>
				<div class="col-lg-8">
					<select name="user" class="form-control">
						<option value="0">n/a
						[#begin USERS#]
						<option value="[#ID#]"[#if ID="<#USER#>"#] selected[#endif SELECTED#]>[#NAME#]
						[#end USERS#]
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">&nbsp;</label>
				<div class="col-lg-3">
					<button type="submit" name="submit" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
					<a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
					<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
					<input type="hidden" name="edit_mode" value="edit">
					<input type="hidden" name="id" value="<#ID#>">
				</div>
			</div>
		</fieldset>
	</form>
[#endif VIEW_MODE#]

[#if VIEW_MODE="settings_bluetoothdevices"#]
	<form action="?" method="post" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label class="col-lg-3 control-label">Метод поиска устройств:</label>
				<div class="col-lg-8">
					[#if IS_HYBRID_AVAILABLE="1"#]
					<label class="radio"><input type="radio" name="scanMethod" value="hybrid" [#if SCAN_METHOD="hybrid"#] checked[#endif#]>Гибридный</label>
					<p class="help-block">Совмещает в себе все нижеперечисленные методы. <strong>Рекомендуется к использованию на Linux.</strong></p>
					[#endif#]
					[#if IS_PING_AVAILABLE="1"#]
					<label class="radio"><input type="radio" name="scanMethod" value="ping" [#if SCAN_METHOD="ping"#] checked[#endif#]>PING запросы</label>
					<p class="help-block">Метод поиска посредством отправки PING запросов. Позволяет отслеживать устройства с отключенным режимом обнаружения.</p>
					[#endif#]
					[#if IS_SCAN_AVAILABLE="1"#]
					<label class="radio"><input type="radio" name="scanMethod" value="discovery" [#if SCAN_METHOD="discovery"#] checked[#endif#]>Сканирование радиоэфира</label>
					<p class="help-block">Поиск необходимого устройства среди списка всех доступных. На Linux позволяет так же отслеживать и BLE (Bluetooth Low Energy) девайсы. На Windows системах сопряженные устройства всегда будут онлайн, даже если это не так.</p>
					[#endif#]
					[#if IS_CONNECT_AVAILABLE="1"#]
					<label class="radio"><input type="radio" name="scanMethod" value="connect" [#if SCAN_METHOD="connect"#] checked[#endif#]>Прямое подключение</label>
					<p class="help-block">Определение доступности устройства на основе результатов попытки прямого подключения к нему. <strong>Рекомендуется к использованию на Windows</strong>. Для корректной работы необходимо выполнить предварительное сопряжение.</p>
					[#endif#]
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Интервал сканирования:</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" name="scanInterval" value="[#SCAN_INTERVAL#]" id="scanInterval">
					<p class="help-block">Временная задержка в секундах между процедурами поиска устройств.<br />Рекомендуемое значение: 60</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Таймаут доступности:</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" name="scanTimeout" value="[#SCAN_TIMEOUT#]" id="scanTimeout">
					<p class="help-block">Время в секундах, если спустя которое устройство не отвечает, связь с ним будет считаться потерянной.<br />Рекомендуемое значение: 300</p>
				</div>
			</div>
			[#if IS_WINDOWS_OS="0"#]
			<div class="form-group">
				<label class="col-lg-3 control-label">Интервал перезагрузки:</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" name="resetInterval" value="[#RESET_INTERVAL#]" id="resetInterval">
					<p class="help-block">Время в секундах, по прошествию которого будет производится перезагрузка Bluetooth модуля (только для Linux систем). Чтобы отключить данную функцию введите -1 (минус один).<br />Рекомендуемое значение: 7200</p>
				</div>
			</div>
			[#endif#]
			[#if IS_WINDOWS_OS="0"#]
			<div class="form-group">
				<label class="col-lg-3 control-label">Использовать sudo:</label>
				<div class="col-lg-8">
					<input name="sudo" value="1" type="radio"[#if SUDO="1"#] checked[#endif#]>Вкл
					<input name="sudo" value="0" type="radio"[#if SUDO="0"#] checked[#endif#]>Выкл
					<p class="help-block">
						[#if SUDO="1" AND SUDO_TEST="0"#]
							<span style="color: red;">
								<strong>Внимание! У пользователя www-data нет доступа к выполнению команд через sudo.</strong><br />
								В терминале Linux введите "<i>sudo visudo</i>" и в открывшийся файл добавьте строчку "<i>www-data ALL=(ALL) NOPASSWD:ALL</i>" (без кавычек), после чего нажмите <i>Ctrl+O</i> и <i>Enter</i> для сохранения изменений. Выход из visudo осуществляется с помощью сочетания клавиш <i>Ctrl+X</i>.
							</span>
							<br />
						[#endif#]
						Использовать запрос на выполнение команд от имени суперпользователя (sudo) во время процедуры поиска устройств (только для Linux).<br />Рекомендуемое значение: Вкл
					</p>
				</div>
			</div>
			[#endif#]
			<div class="form-group">
				<label class="col-lg-3 control-label">&nbsp;</label>
				<div class="col-lg-3">
					<button type="submit" name="submit" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
					<a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
					<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
					<input type="hidden" name="edit_mode" value="save">
				</div>
			</div>
		</fieldset>
	</form>
[#endif VIEW_MODE#]
